name: 'Pull Request'

on: ['pull_request']

concurrency:
  group: pull_request-${{ github.event.pull_request.number }}
  cancel-in-progress: true

permissions:
  pull-requests: write

jobs:
  test:
    name: Call reusable unit tests workflow
    uses: ./.github/workflows/reusable_workflow_test.yml
    permissions:
      id-token: write
    secrets: inherit
    with:
      ref: refs/pull/${{ github.event.pull_request.number }}/merge

  lint:
    runs-on: ubuntu-latest
    name: Run unit tests
    steps:
      - uses: actions/checkout@v6

      - name: Node setup
        uses: ./.github/actions/node-setup

      - name: Run lints
        run: yarn run lint

  size:
    runs-on: ubuntu-latest
    env:
      CI_JOB_NUMBER: 1
    steps:
      - uses: actions/checkout@v6
      - uses: andresz1/size-limit-action@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
